# Logs
logs
*.log
tsconfig.tsbuildinfo

# Dependencies / Node
node_modules/
report.*.json

# Docker files
docker_volumes

# Coverage
coverage
coverageReport.json

# Transpiled files
dist/
tmp/**
!tmp/.gitkeep
out/
.next/

# VS Code / Code editors
.idea/
.vscode
!.vscode/tasks.js

# Cache
.eslintcache
.cache/**
!.cache/.gitkeep
.secure/**
!.secure/.gitkeep

# Misc
.DS_Store

# env
.env

# turbo temp files
.turbo/