.git
.github
node_modules
tmp/**
.vscode/
.husky/
.prettierignore
.gitignore
.eslintignore
.dockerignore
favicon.ico

/packages/*/dist

/services/*/dist
/services/*/Dockerfile
/services/*/.next
*.svg
pnpm-lock.yaml

terraform/provider.tf
terraform/terraform.auto.tfvars

.terraform
terraform
.terraform-version
*.sql
