@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(192, 192, 192);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right,
    rgb(53, 165, 118),
    rgb(17, 113, 128)
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    to right,
    rgb(53, 165, 118),
    rgb(17, 113, 128)
  );
}

.btn-primary {
  @apply bg-gradient-to-r from-primary-light to-primary-dark text-sm;
}

.btn-secondary {
  @apply !bg-secondary !text-sm;
}

.data-table {
  border: none !important;

  .data-table_header {
    @apply bg-primary !important;

    & > div {
      @apply border-0;

      button {
        @apply text-white;
      }
    }
  }

  .data-table_body {
    .data-table_body-row {
      @apply border-b hover:bg-gray-100;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  @apply text-sm rounded-lg;
}

table th {
  @apply bg-[#299479]  font-normal text-white p-2 text-left whitespace-nowrap;
}
table tbody tr td {
  @apply text-gray-900 bg-gray-50 p-2;
}
.bg-purple-400 {
  background-color: rgb(192 132 252);
}
.bg-yellow-400 {
  background-color: rgb(250 204 21);
}
.bg-orange-400 {
  background-color: rgb(251 146 60);
}
.bg-blue-400 {
  background-color: rgb(96 165 250);
}
.bg-red-400 {
  background-color: rgb(248 113 113);
}
.bg-green-400 {
  background-color: rgb(74 222 128);
}
.bg-gray-400 {
  background-color: rgb(156 163 175);
}
